@using GangaPrakashAPI.Model
@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/template/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Apr 2020 08:29:26 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Ganga-Prakash - Login</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!--[if lt IE 9]>
        <script src="~/assets/js/html5shiv.min.js"></script>
        <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="~/assets/img/logo-white.png" alt="Logo">
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Login</h1>
                            <p class="account-subtitle">Access to our system</p>

                            <!-- Form -->
                            <form method="post" class="needs-validation" novalidate>
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Username" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "invalid-feedback" })

                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder = "Password" id="Password" name="Password" required />
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "invalid-feedback" })

                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                                </div>
                            </form>
                            <!-- /Form -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Form Validation JS -->
    <script src="~/assets/js/form-validation.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js"></script>
    <script>
        $(function () {
            $('[data-val=true]').each(function () {
                $this = $(this);
                if ($this.has('[data-val-required]')) {
                    $this.attr('required', 'required');
                    $this.attr('data-required-error', $this.attr('[data-val-required]'));
                  
                }
            });
        });
    </script>
</body>
<!-- Mirrored from dreamguys.co.in/demo/doccure/template/admin/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 23 Apr 2020 08:29:27 GMT -->
</html>
